.container {
    margin-top: 0px;
    height: clac(100vh - 74px);
    width: 100%;
    position: relative;
  }
  
  #room__container {
    position: relative;
    display: flex;
    background-color: #1B1A1D;
    gap: 3rem;
  }
  
  body{
    background-color:#1B1A1D;
  }
  #members__container {
    background-color: #676747;
   
    overflow: hidden;
    width: 90%;
    max-width: 10vw;
    position: fixed;
    height: 90vh;
    margin-top: 1%;
    z-index: 999;
  }
  
  #members__count {
    background-color: #2B2D2E;
    padding: 7px 15px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  #members__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    font-size: 10px;
    background-color: #1B1A1D;
    width: 120px;
  }
  
  #member__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:#1B1A1D ;
    height:100vh;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
  }
  
  .members__list::-webkit-scrollbar {
    height: 14px;
  }
  
  .member__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #2B2D2E;
    width:9vw;
    padding:10px;
    border-radius: 5px;
    margin-left: 7px;
    padding-left: 0px;
  }
  
  .green__icon {
    display: block;
    height: 5px;
    width: 5px;
    margin-top:6px;
    margin-right:0px;

    border-radius: 50%;
    background-color: #1B1A1D;
  }
  div[class="host_control"] 
  {
    flex-wrap: wrap;
    display:inline-flex;
    margin-left: 6px;
  
  }
  div[class="member__wrapper"] button
  {
    margin:1px;
    background-color:#1B1A1D ;
    border:none;
    color:white;
    border-radius: 5px;
    width: fit-content ;
    font-size: 15px;

    cursor:pointer;
  }
  
  .member_name{
    font-size:10px;
    line-height: 0;
  }
  
  #messages__container {
    height: calc(100vh - 125px);
    background-color: #2B2D2E;
 
  
    position: absolute;
    top:30px;

    width: 70%;
    max-width: 17rem;
    overflow-y: auto;
    right:1%;
  
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  #messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .message__wrapper:last-child {
    margin-bottom: 6.5rem;
  }
  
  .message__wrapper {
    display: flex;
    gap: 10px;
    margin: 1em;
  }
  
  .message__body {
    background-color: #363739;
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 900px;
  }
  
  .message__body strong {
    font-weight: 600;
    color: #ede0e0;
  }
  
  .message__body__bot{
    padding: 0 20px;
    max-width: 900px;
    color: #bdbdbd;
  }
  
  
  .message__author {
    margin-right: 10px;
    color: white!important;
  
  }
  
  .message__author__bot {
    margin-right: 10px;
    color: #a52aca!important;
  
  }
  
  .message__text {
    margin: 0;
  }
  
  #message__form {
    width: 15.3rem;
    position: fixed;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    display: flex;
    background-color: #2B2D2E;
    padding: 1em;
    
  }
  
  
  #message__form input {
    color: #fff;
    width:58%;
    border: none;
    height:40px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    box-sizing: border-box;
    background-color: #1B1A1D;
  }
  
  #message__form input:focus {
    outline: none;
  }
  
  #message__form input::placeholder {
    color: #707575;
  }
  
  #stream__container {
    justify-self: center;
    width: calc(100% - 28.7rem);
    position: fixed;
    left: 9.7rem;
    
    border-style: solid ;
    border-color:#373639;
    border-width: 1px;
    border-top-style:none;
    top: clac(100vh - 72px);
    overflow-x:hidden;
    background-color: #1B1A1D;
    height: 100%;
  }
  #stream__box{
    background-color: #1A1E23;
    height:60vh
  }
  
  #stream__box .video__container{
    border:2px solid black;
    border-radius:0;
    height: 100%!important;
    width:100%!important;
    background-size: 300px;
  
  }
  #stream__box video{
    border-radius: 0;
  }
  #streams__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0em;
    align-items: center;
    margin-top:25px;
    margin-bottom: 225px;
  }
  .video__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../components/images/logo.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 75px;
    border: 2px solid #b366f9;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
    height:300px;
    width:300px;
  }
  .video-player{
    height:100%;
    width:100%;
  }
  .video-player video{
    border-radius:50%;
  }
  @media (max-width: 1200px) {
     .video__container{
       height:200px;
       width:200px;
     }
  }
  
  
  @media (max-width: 1200px) {
    #members__container {
      display: none;
    }
  
    #members__button {
      display: block;
    }
  
    #stream__container {
      width: calc(100% - 25rem);
      left: 0;
    }
  }
  
  @media (max-width: 980px) {
    #stream__container {
      width: calc(100% - 20rem);
      left: 0;
    }
    #messages__container {
      max-width: 20rem;
    }
  
    #message__form {
      width: 18.2rem;
    }
  }
  
  @media (max-width: 768px) {
    #stream__container {
      width: 100%;
    }
  
    #messages__container {
      display: none;
    }
  
    #chat__button {
      display: block;
    }
    .video__container{
      height:200px;
      width:200px;
    }
  }
  
  #stream__box {
    position: relative;
  }
  
  .stream__focus {
    width: 100%;
    height: 100%;
  }
  
  .stream__focus iframe {
    width: 100%;
    height: 100%;
  }
  
  .stream__actions {
    position: fixed;
    bottom: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a60;
    padding: 1rem;
    left: 50%;
    display: none;
    gap: 1rem;
    transform: translateX(-50%);
  }
  div#controller  button[class="controls"] 
  {
    height:30px;
    width:35px;
    margin-left:10px;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    margin:5px;
  
    font-size: 15px;
    color:white;
    transition: 0.2s ease-in-out;
    
  }
  button[class="send"]
  {
    height:40px;
    width:50px;
    cursor:pointer;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin:5px;
    margin-right:0px;
    background-color: #3F8DFD;
    color:white;
    transition: 0.5s ease-in-out;
  }
 
  button[class="send"]:hover{
    background-color: #51B56D;
  }
  button[id="second"]:hover{
    background-color: #F12646;
  }
  .stream__actions a,
  .stream__actions button 
  {
    cursor: pointer;
    background-color: #262625;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .stream__actions a svg,
  .stream__actions button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ede0e0;
  }
  
  .stream__actions a.active,
  .stream__actions button.active,
  .stream__actions a:hover,
  .stream__actions button:hover {
    background-color: #845695;
  }
  #join-btn{
    background-color: #845695;
    font-size:18px;
    padding:25px 50px;
    border:none;
    color:#fff;
    position: fixed;
    bottom: 1rem;
    border-radius:8px;
    left:20%;
    transform: translateX(-50%);
    cursor:pointer;
  }
  button[class="volume"],button[class="local"]
  {
    background-color:#3F8CFE;
    color:white;
    border:none;
    height:20px;
    width:25px;
    border-radius:5px;
    cursor:pointer;
  }
  button[class="controls"]:hover
  {
    background-color: #F12646 !important;
    transition: 0.5ms ease-in-out;
  }
  button[class="local"]
  {
    
    width: 100px;
    margin-top:0px;
    font-size: 10px;
    padding:8px;
    margin-left:12px;
    margin-right:10px;
    height:30px;
  }
  div#controller{
    margin-left: 12%;
    position: fixed;
    top:90%;
    width:40vw;
    padding:10px;
    padding-left:40px;
    border-radius: 5px;
    z-index:999;
    background-color: #2B2D2E;
  
  }
  select[id="config"]{
    height:30px;
    width:100px;
    color:white;
    background-color: #3F8CFE;
    border:none;
    margin-top:2%;
    margin-right:30px;
    margin-left: 10px;
    border-radius:5px;
    cursor:pointer;
    font-size:10px;
    padding:5px;
    padding-top:7px;
  }
 option{
    width:100px;
    cursor:pointer;

  }
div[class="full-screen"]
{
  height:60vh;
  width:90%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:3;
  margin-bottom: 2vh;
  margin-left:10px;
  border-radius:10px;
  overflow: hidden;
}  
div[class="full2-screen"]
{
  height:60vh;
  width:65vw;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:3;
  grid-row-end:4;
  margin-bottom: 2vh;
  margin-left:10px;
  border-radius:10px;
  overflow: hidden;
}  
div[class="mid-screen"]
{
  height:20vh;
  width:20vw;

  border-radius:10px;
  overflow: hidden;
}
div[class="grid-container"]
{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  
  width:70vw;
  border-top-style:solid;
  border-top-color: #373639;
  border-top-width:1px;
  padding: 10px;
}
video{
  cursor:pointer;
  
  overflow:hidden;
}
div[class="flex-container"]
{
  display: flex;
  
  padding: 10px;
}
div[class="flex-container"] div[class="mid-screen"]
{
  height:10vh;
  width:10vw;
}
div[class="Room__Name"]
{
  background-color: #2B2D2E;
  width:5vw;
  height:fit-content;
  padding:0px 5px 0px 5px;
  border-radius: 5px;
  margin-left: 25px;
}
div [class="Room__Name"] h1{
  text-align: center;
}
button[id="disolve"]
{
  border:none;
  color:white;
  border-radius: 5px;
  cursor:pointer;
  background-color: #F12646;
  padding:none;
  height: fit-content;
}
button[id="disolve"] h1{
  line-height: 0%;
}